

    <!-- Logo -->
    <div class="logo-sn ms-d-block-lg">
        <a class="pl-0 ml-0 text-center" href="../Home/index"> <img src="~/assets/img/ALTERALOGO_ALT.png" /> </a>

    </div>

    <!-- Navigation -->
    <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
        <!-- Dashboard -->
        <!-- Dashboard -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
                <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
            </a>
            <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
                <li> <a href="index.html">Medboard</a> </li>
            </ul>
        </li>
        <!-- Doctor -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Medico" aria-expanded="false" aria-controls="Medico">
                <span><i class="fas fa-sitemap"></i>Médico</span>
            </a>
            <ul id="Medico" class="collapse" aria-labelledby="Medico" data-parent="#side-nav-accordion">
                <li> <a href="pages/department/add-department.html">Adicionar Médico</a> </li>
                <li> <a href="pages/department/department-list.html">Listar Médicos</a> </li>
            </ul>
        </li>
        <!-- Patient -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Paciente" aria-expanded="false" aria-controls="Paciente">
                <span><i class="fas fa-user"></i>Paciente</span>
            </a>
            <ul id="Paciente" class="collapse" aria-labelledby="Paciente" data-parent="#side-nav-accordion">
                <li> <a href="../cadastro/Paciente">Adicionar Paciente</a> </li>
                <li> <a href="../cadastro/PacienteLista">Listar Pacientes</a> </li>
            </ul>
        </li>
        <!-- /Patient -->
        <!-- Funcionarios -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Funcionario" aria-expanded="false" aria-controls="Funcionario">
                <span><i class="fas fa-sitemap"></i>Funcionário</span>
            </a>
            <ul id="Funcionario" class="collapse" aria-labelledby="Funcionario" data-parent="#side-nav-accordion">
                <li> <a href="pages/department/add-department.html">Adicionar Funcionário</a> </li>
                <li> <a href="pages/department/department-list.html">Listar Funcionários</a> </li>
            </ul>
        </li>
        <!-- /Funcionarios -->
        <!-- Cliente -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Cliente" aria-expanded="false" aria-controls="Cliente">
                <span><i class="fas fa-sitemap"></i>Cliente</span>
            </a>
            <ul id="Cliente" class="collapse" aria-labelledby="Cliente" data-parent="#side-nav-accordion">
                <li> <a href="pages/department/add-department.html">Adicionar Cliente</a> </li>
                <li> <a href="pages/department/department-list.html">Listar Clientes</a> </li>
            </ul>
        </li>
        <!-- /Cliente -->
        <!-- Clinica -->
        <li class="menu-item">
            <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Clinica" aria-expanded="false" aria-controls="Clinica">
                <span><i class="fas fa-sitemap"></i>Clinica</span>
            </a>
            <ul id="Clinica" class="collapse" aria-labelledby="Clinica" data-parent="#side-nav-accordion">
                <li> <a href="pages/department/add-department.html">Adicionar Clinica</a> </li>
                <li> <a href="pages/department/department-list.html">Listar Clinicas</a> </li>
            </ul>
        </li>
    </ul>


