@model Leega.HotSite.Models.Login

@{
    Layout = "_LoginLayout";
}

<div id="login-screen" class="container-fluid">
    <div class="row h-100" data-ride="carousel">
        <div id="login-bg-left" class="col-lg-6 col-xl-7 marcas d-lg-flex align-items-center  d-none bg-color-1 text-white h-100">
            <div class="row justify-content-center">
                <div class="col-10 col-xl-8">
                    <h1 class="mb-4">
                        SEJA O SEU <strong>MELHOR</strong>.<br>
                        SEJA <strong>ALTRUS</strong>!
                    </h1>
                    <p class="text-white">
                        Apresentamos causas previamente
                        certificadas para você ajudar com
                        segurança
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-5 pt-lg-3 pt-5 d-flex align-items-center panel text-center white">
            <div class="row justify-content-center">
                <div class="col-12 logo">
                    <img class="logo">
                </div>
                <div class="col-sm-7 col-10 text-left mt-lg-3 mt-5">
                    <form method="post">
                        <div class="row">
                            <input type="hidden" asp-for="returnUrl" />
                            <label for="username">E-mail:</label>
                            <input type="text" asp-for="email" placeholder="Insira seu e-mail">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <label for="password">Senha:</label>
                            <input type="password" asp-for="password" placeholder="Insira sua senha">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <p class="text-center m-0"><input class="btn" type="submit" value="FAZER LOGIN" /></p>
                    </form>
                </div>
                <div class="col-12">
                    <p>Esqueceu sua senha? Clique <a href='@Url.Action("forgotpassword","account")' class="primary-color">aqui</a> para redefini-la</p>
                    <p>Novo por aqui? Cadastre-se como Pessoa <a href='@Url.Action("register", "account", new { returnUrl = Model.returnUrl, tipo = "F" } )' class="primary-color">Física</a> ou <a href='@Url.Action("register", "account", new { returnUrl = Model.returnUrl, tipo = "J" } )' class="primary-color">Jurídica</a></p>
                </div>
                <div class="col-12">
                    <div class="credits pt-xl-5 pb-xl-3 pt-lg-3 pb-lg-3 pb-5 pt-5">
                        <a href="https://www.leega.com.br/" target="_blank"><span class="leega_gray"></span></a><a href="https://estudio86.com.br/" target="_blank"><span class="e86_gray"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
