@model Leega.HotSite.Models.Login;

@{
    Layout = "_LoginLayout";
}

    <div id="login-screen" class="container-fluid">
        <div class="row h-100" data-ride="carousel">
            <div id="login-bg-left"
                 class="col-lg-6 col-xl-7 marcas d-lg-flex align-items-center  d-none bg-color-1 text-white h-100">
                <div class="row justify-content-center">
                    <div class="col-10 col-xl-8">
                        <h1 class="mb-4">
                            SEJA O SEU <strong>MELHOR</strong>.<br>
                            SEJA <strong>ALTRUS</strong>!
                        </h1>
                        <p>
                            Apresentamos causas previamente
                            certificadas para você ajudar com
                            segurança
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-5 pt-lg-3 pt-5 d-flex align-items-center panel text-center white">
                <div class="row justify-content-center">
                    <div class="col-12 logo">
                        <img src="/assets/img/ALTERALOGO_ALT.png" alt="">
                    </div>
                    <div class="col-12">
                        <p><a href="#">Obrigado por sua visita!</a></p>
                        <p>Clique <a href='@Url.Action("login")'>aqui</a> para fazer seu login.</p>
                    </div>
                    <div class="col-12">
                        <div class="credits pt-xl-5 pb-xl-3 pt-lg-3 pb-lg-3 pb-5 pt-5">
                            <a href="https://www.leega.com.br/" target="_blank"><span class="leega_gray"></span></a><a href="https://estudio86.com.br/" target="_blank"><span class="e86_gray"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
