
<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">
            NOSSA EMPRESA
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-md-6 ml-auto">
                <p class="lead">
                    Somos uma empresa especializada em gestão efetiva na Saúde Publica Surgimos com a necessidade de implementar e implantar: §uxo, processos,
                    protocolos, para garantir a gestão de qualidade e segurança em Saúde.
                </p>
                <p class="">
                    <img src="~/img/Screenshot_1.png" class="img-fluid img-thumbnail" />
                </p>
            </div>
            <div class="col-md-6 mr-auto">
                <p class="lead">
                    <h3>VISÃO</h3><br />Ser um núcleo de referência de
                    gestão da qualidade no sus com excelência
                    na prestação de serviços de tecnologia da
                    informação e comunicação, alcançando, para
                    2020, todo grande abc paulista.
                </p>
                <p class="lead">
                    <h3>MISSÃO</h3><br />Promover mudanças na qualidade
                    e segurança da rede de saúde pública com
                    uso de ferramentas informatizadas.
                </p>
                <p class="lead">
                    <h3>VALORES</h3><br />Excelência - transparência - ética -
                    segurança - equidade - transversalidade.
                </p>
            </div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <p>
                CORE BUSINESS - EXPERIÊNCIA EM INFLUENCIAR, CRIAR, DESENVOLVER E BUSCAR MUDANÇAS SÓLIDAS, CONCRETAS E PERMANENTES EM SAÚDE.
            </p>
        </div>
    </div>
</section>