@{
    ViewData["Title"] = "Home Page";
}
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5" src="assets/img/avataaars.svg" alt="" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">NÚCLEO DA QUALIDADE E SEGURANÇA EM SAÚDE</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">
            Experiência em influenciar, criar, desenvolver e buscar mudanças sólidas , concretas e ferramentas em saúde.<br />
            Serviços e soluções para sua empresa maneira simples e e¦caz para qualidade de sua empresa
        </p>
    </div>
</header>

<!-- Portfolio Section-->

@await Html.PartialAsync("_COnsultoria.cshtml")

<!-- About Section-->

@await Html.PartialAsync("_NossaEmpresa.cshtml")

<!-- Contact Section-->
@await Html.PartialAsync("_Contato.cshtml")

<!-- Footer-->
@await Html.PartialAsync("_Footer.cshtml")
