<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="_dbConnectionMySql" value="server=altrusdb.mysql.database.azure.com;port=3306;user=dbadmin@altrusdb;pwd=@ltrus2020;database=nqs"  />
		<!--<add key="_dbConnectionMySql" value="server=localhost;port=3306;user=desenv;pwd=desenv10@;database=nqs"  />-->
	</appSettings>
</configuration>