@model Leega.Dtos.Pessoa

<br />
<form asp-action="embaixador" asp-controller="cadastro" method="post">
    <div class="container background-color3">
        <div class="row">
            <div class="col-sm-12 py-3">
                <h4 class="title">Cadastro de Embaixador</h4>
                <div class="row justify-content-sm-between">
                    <div class="col-sm-12 pt-3">
                        <p>Crie uma nova conta para se voluntariar, apoiar causas e ser um Altruísta.</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="container px-0 py-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="tipo" value="F" />
                                        <label for="cpf">CPF:</label>
                                        <input type="text" asp-for="cpfcnpj" placeholder="Insira seu CPF sem os pontos">
                                        <span asp-validation-for="cpfcnpj" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Nome Completo:</label>
                                        <input type="text" asp-for="nome" placeholder="Insira  aqui o seu nome">
                                        <span asp-validation-for="nome" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="email">E-mail:</label>
                                        <input type="text" asp-for="contato.email" placeholder="Insira um e-mail válido">
                                        <span asp-validation-for="contato.email" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="phone">Telefone:</label>
                                        <input type="text" asp-for="telefone" placeholder="Insira o seu telefone sem o traço">
                                        <span asp-validation-for="telefone" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="nascimento">Data de Nascimento:</label>
                                        <input type="date" asp-for="nascimento" placeholder="00 / 00 / 0000">
                                        <span asp-validation-for="nascimento" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="cep">CEP:</label>
                                        <input type="text" asp-for="cep" placeholder="Insira o seu CEP">
                                        <span asp-validation-for="cep" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="endereco">Seu endereço:</label>
                                        <input type="text" asp-for="endereco" placeholder="Seu endereço">
                                        <span asp-validation-for="endereco" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="numero">Número:</label>
                                        <input type="text" asp-for="numero" placeholder="Insira o número">
                                        <span asp-validation-for="numero" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="bairro">Bairro:</label>
                                        <input type="text" asp-for="bairro" placeholder="Insira o seu Bairro">
                                        <span asp-validation-for="bairro" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="endereco">Cidade:</label>
                                        <input type="text" asp-for="cidade" placeholder="Sua cidade">
                                        <span asp-validation-for="cidade" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="uf">Estado:</label>
                                        <input type="text" asp-for="uf" placeholder="Seu estado">
                                        <span asp-validation-for="uf" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-5">
                                    <h5 class="title">Disponibilidade</h5>
                                </div>
                                <div class="col-sm-6 mt-3">
                                    <label for="periodo">Período:</label>
                                    <div class="styled-select">
                                        <select id="periodo">
                                            <option value="" selected disabled>
                                                Selecione qual a sua
                                                disponibilidade
                                            </option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-3">
                                    <label for="dias-da-semana">Dias da semana:</label>
                                    <div class="styled-select">
                                        <select id="dias-da-semana">
                                            <option value="" selected disabled>
                                                Selecione quais dias tem
                                                disponibilidade
                                            </option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label for="desc_exp">
                                            Descreva a sua experiência com o terceiro setor (Projetos e
                                            Organizações da Sociedade Civil):
                                        </label>
                                        <textarea asp-for="biografia" rows="5" placeholder="Escreva a sua mini biografia"></textarea>
                                        <span asp-validation-for="biografia" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-3">
                                    <div class="form-group">
                                        <label for="biografia">
                                            Por que você deseja ser um Embaixador da AltruS e o que
                                            você pode agregar à AltruS e às Causas como tal?
                                        </label>
                                        <textarea rows="5" placeholder="Qual a sua motivação?"></textarea>
                                        <span class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-sm-12 pr-sm-0">
                                    <!-- Default inline 2-->
                                    <div class="custom-control d-flex align-items-center custom-checkbox custom-control-inline p-3 m-0">
                                        <input class="cause-item-checkbox" type="checkbox" asp-for="anonimo" id="quero">
                                        <p class="check-description m-0 pl-3 pt-1">
                                            Ao marcar este campo,
                                            declaro estar de acordo com os termos de uso da plataforma.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <button class="btn btn-whiteonblue" type="submit">CADASTRAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
