  <!-- Margin top -->
<div id="mt-top-header"></div>
<!-- End Margin top -->
<main id="main">

    <!-- ======= Single ======= -->
    <section id="single" class="bg-gray_light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 pr-lg-4">
                    <h1>
                        Victórias pela Vida - Entrega de refeições para pessoas
                        em situação de rua
                    </h1>
                </div>
                <div class="col-lg-4 text-right">
                    <a href="causas.html">voltar</a>
                </div>
                <div class="col-lg-12 mt-4 mb-5">
                    <img class="img-fluid w-100 rounded" src="https://via.placeholder.com/1100x368/E0E0E0" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12 old-12 text-inner">
                            <h5 class="mb-4">Descrição da Causa</h5>
                            <p>
                                O trabalho social da Ong Victórias pela Vida é caracterizado por ações de solidariedade voltadas às
                                comunidades e famílias carentes, idosos, moradores em situação de rua e comunidades indígenas
                                brasileiras.
                                Instituição essa não-governamental sem fins lucrativos com o objetivo principal de contribuir para a
                                erradicação da fome e da miséria, por meio de ações educacionais e projetos autossustentáveis que
                                favoreçam o desenvolvimento social da população menos favorecida.
                            </p>
                            <p>
                                Desde março de 2013, a Ong idealizada por Victor Stevaux, tem como propósito cuidar e auxiliar o
                                próximo
                                bem como estimular e promover ações sociais. Dentre todas nossas ações sociais, destacam-se:
                            </p>
                            <ul class="pb-3">
                                <li>ENTREGA SEMANAL DE CENTENAS DE MARMITAS NO CENTRO DE SÃO PAULO;</li>
                                <li>LANCHE SOLIDÁRIO MENSAL PARA COMUNIDADES E MORADORES EM SITUAÇÃO DE RUA DA ZONA NORTE;</li>
                                <li>ASSISTÊNCIA TRIMESTRAL À DUAS COMUNIDADES INDÍGENAS (PARATY E UBATUBA);</li>
                                <li>DISTRIBUIÇÃO MENSAL DE CESTAS BÁSICAS ÀS FAMÍLIAS CARENTES.</li>
                                <li>MISSÕES DE APOIO A INSTITUIÇÕES.</li>
                            </ul>
                            <p>
                                Anualmente a Ong Victórias pela Vida auxilia aproximadamente 50.000 pessoas por toda grande São
                                Paulo,
                                devido aos nossos maravilhosos amigos/parceiros e voluntários.
                            </p>
                        </div>
                        <div class="col-lg-12 old-12">
                            <div class="causes__box__avisos p-4 border rounded bg-white">
                                <h5>AÇÕES EM COMBATE AOS EFEITOS DO COVID 19</h5>
                                <p class="m-0">
                                    A Ong Victórias pela Vida segue entregando refeições às pessoas em situação de rua no
                                    Centro de São
                                    Paulo nesta época de pandemia, mesmo com o isolamento social. É muito importante ter o seu apoio
                                    para a
                                    compra de alimentos e ítens de higiene para essa população.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12 old-12 my-5">
                            <a class="venobox" data-vbtype="video" data-autoplay="true" href="https://youtu.be/QHiRts17hsc">
                                <img class="w-100 img-fluid rounded" src="assets/img/cause-video-interna.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div id="box-lateral-column" class="border rounded p-4 bg-white">
                        <h5>Quanto deseja doar?</h5>
                        <div class="box-donate-price mt-3 mb-4">
                            Doações à partir de R$30,00
                        </div>
                        <p class="mb-0">Escolha a frequência de sua doação</p>
                        <button class="btn-lateral-column frequency active float-left mt-3 mb-4">Mensal</button>
                        <button class="btn-lateral-column frequency float-right mt-3 mb-4">Única</button>
                        <p class="mb-0">Forma de pagamento</p>
                        <button class="btn-lateral-column payment active float-left mt-3 mb-4">Crédito</button>
                        <button class="btn-lateral-column payment float-right mt-3 mb-4">Débito</button>
                        <button class="btn-lateral-column-doar">QUERO DOAR!</button>
                    </div>
                    <div id="box-lateral-column" class="border rounded p-4 mt-box-lateral bg-white">
                        <h5 class="mb-3">QRCODE (Doação em Dinheiro)</h5>
                        <div id="qrcode" class="owl-carousel px-5 pt-3">
                            <div class="qr-carousel-item"><img class="img-fluid" src="assets/img/qrcode.jpg" alt=""></div>
                            <div class="qr-carousel-item"><img class="img-fluid" src="assets/img/qrcode.jpg" alt=""></div>
                            <div class="qr-carousel-item"><img class="img-fluid" src="assets/img/qrcode.jpg" alt=""></div>
                        </div>
                    </div>
                    <div id="box-lateral-column" class="border rounded p-4 mt-box-lateral bg-white">
                        <h5 class="mb-3">Beneficiário</h5>
                        <div class="box-beneficio my-2">
                            Razão Social: <strong>VICTORIAS PELA VIDA</strong>
                        </div>
                        <div class="box-beneficio my-2">
                            CNPJ: <strong>23.640.692/0001-38</strong>
                        </div>
                        <div class="box-beneficio my-2">
                            Site: <strong>www.victoriaspelavida.org</strong>
                        </div>
                        <div class="box-beneficio my-2">
                            Contato: <strong>(11) 99202-8118</strong>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mt-lg-0 mt-5" id="gallery">
            <h5>Galeria de Fotos</h5>
            <div class="row">
                <div class="col-lg-8 old-12">
                    <div class="row">
                        <div class="col-lg-4 my-3">
                            <a class="venobox" data-gall="myGallery" href="assets/img/gallery/gallery_img_01.jpg">
                                <img class="w-100 img-fluid rounded" src="assets/img/gallery/gallery_img_01.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-4 my-3">
                            <a class="venobox" data-gall="myGallery" href="assets/img/gallery/gallery_img_02.jpg">
                                <img class="w-100 img-fluid rounded" src="assets/img/gallery/gallery_img_02.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-4 my-3">
                            <a class="venobox" data-gall="myGallery" href="assets/img/gallery/gallery_img_03.jpg">
                                <img class="w-100 img-fluid rounded" src="assets/img/gallery/gallery_img_03.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-4 my-3">
                            <a class="venobox" data-gall="myGallery" href="assets/img/gallery/gallery_img_04.jpg">
                                <img class="w-100 img-fluid rounded" src="assets/img/gallery/gallery_img_04.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-4 my-3">
                            <a class="venobox" data-gall="myGallery" href="assets/img/gallery/gallery_img_05.jpg">
                                <img class="w-100 img-fluid rounded" src="assets/img/gallery/gallery_img_05.jpg" />
                            </a>
                        </div>
                        <div class="col-lg-4 my-3">
                            <a class="venobox" data-gall="myGallery" href="assets/img/gallery/gallery_img_06.jpg">
                                <img class="w-100 img-fluid rounded" src="assets/img/gallery/gallery_img_06.jpg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Single -->

</main><!-- End #main -->
