@model IEnumerable<Leega.Dtos.Paciente>
@using Newtonsoft.Json;

<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>NQS</title>
    <!-- Iconic Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../vendors/iconic-fonts/font-awesome/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../vendors/iconic-fonts/flat-icons/flaticon.css">
    <link rel="stylesheet" href="../../vendors/iconic-fonts/cryptocoins/cryptocoins.css">
    <link rel="stylesheet" href="../../vendors/iconic-fonts/cryptocoins/cryptocoins-colors.css">
    <!-- Bootstrap core CSS -->
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- jQuery UI -->
    <link href="../../assets/css/jquery-ui.min.css" rel="stylesheet">
    <!-- Page Specific CSS (Slick Slider.css) -->
    <link href="../../assets/css/slick.css" rel="stylesheet">
    <!-- Medboard styles -->
    <link href="../../assets/css/style.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../../favicon.ico">
    <!-- Page Specific Css (Datatables.css) -->
    <link href="../../assets/css/datatables.min.css" rel="stylesheet">

</head>

<body class="ms-body ms-aside-left-open ms-primary-theme ms-has-quickbar">



    <!-- Preloader -->
    <div id="preloader-wrap">
        <div class="spinner spinner-8">
            <div class="ms-circle1 ms-child"></div>
            <div class="ms-circle2 ms-child"></div>
            <div class="ms-circle3 ms-child"></div>
            <div class="ms-circle4 ms-child"></div>
            <div class="ms-circle5 ms-child"></div>
            <div class="ms-circle6 ms-child"></div>
            <div class="ms-circle7 ms-child"></div>
            <div class="ms-circle8 ms-child"></div>
            <div class="ms-circle9 ms-child"></div>
            <div class="ms-circle10 ms-child"></div>
            <div class="ms-circle11 ms-child"></div>
            <div class="ms-circle12 ms-child"></div>
        </div>
    </div>

    

    <!-- Sidebar Navigation Left -->
    <!-- Sidebar Navigation Left -->
    <aside id="ms-side-nav" class="side-nav fixed ms-aside-scrollable ms-aside-left">

        <!-- Logo -->
        <div class="logo-sn ms-d-block-lg">
            <a class="pl-0 ml-0 text-center" href="../Home/index"> <img src="~/assets/img/ALTERALOGO_ALT.png" /> </a>
        </div>

        <!-- Navigation -->
        <ul class="accordion ms-main-aside fs-14" id="side-nav-accordion">
            <!-- Dashboard -->
            <!-- Dashboard -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#dashboard" aria-expanded="false" aria-controls="dashboard">
                    <span><i class="material-icons fs-16">dashboard</i>Dashboard </span>
                </a>
                <ul id="dashboard" class="collapse" aria-labelledby="dashboard" data-parent="#side-nav-accordion">
                    <li> <a href="index.html">Medboard</a> </li>
                </ul>
            </li>
            <!-- Doctor -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Medico" aria-expanded="false" aria-controls="Medico">
                    <span><i class="fas fa-sitemap"></i>Médico</span>
                </a>
                <ul id="Medico" class="collapse" aria-labelledby="Medico" data-parent="#side-nav-accordion">
                    <li> <a href="pages/department/add-department.html">Adicionar Médico</a> </li>
                    <li> <a href="pages/department/department-list.html">Listar Médicos</a> </li>
                </ul>
            </li>
            <!-- Patient -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Paciente" aria-expanded="false" aria-controls="Paciente">
                    <span><i class="fas fa-user"></i>Paciente</span>
                </a>
                <ul id="Paciente" class="collapse" aria-labelledby="Paciente" data-parent="#side-nav-accordion">
                    <li> <a href="../cadastro/Paciente">Adicionar Paciente</a> </li>
                    <li> <a href="../cadastro/PacienteLista">Listar Pacientes</a> </li>
                </ul>
            </li>
            <!-- /Patient -->
            <!-- Funcionarios -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Funcionario" aria-expanded="false" aria-controls="Funcionario">
                    <span><i class="fas fa-sitemap"></i>Funcionário</span>
                </a>
                <ul id="Funcionario" class="collapse" aria-labelledby="Funcionario" data-parent="#side-nav-accordion">
                    <li> <a href="pages/department/add-department.html">Adicionar Funcionário</a> </li>
                    <li> <a href="pages/department/department-list.html">Listar Funcionários</a> </li>
                </ul>
            </li>
            <!-- /Funcionarios -->
            <!-- Cliente -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Cliente" aria-expanded="false" aria-controls="Cliente">
                    <span><i class="fas fa-sitemap"></i>Cliente</span>
                </a>
                <ul id="Cliente" class="collapse" aria-labelledby="Cliente" data-parent="#side-nav-accordion">
                    <li> <a href="pages/department/add-department.html">Adicionar Cliente</a> </li>
                    <li> <a href="pages/department/department-list.html">Listar Clientes</a> </li>
                </ul>
            </li>
            <!-- /Cliente -->
            <!-- Clinica -->
            <li class="menu-item">
                <a href="#" class="has-chevron" data-toggle="collapse" data-target="#Clinica" aria-expanded="false" aria-controls="Clinica">
                    <span><i class="fas fa-sitemap"></i>Clinica</span>
                </a>
                <ul id="Clinica" class="collapse" aria-labelledby="Clinica" data-parent="#side-nav-accordion">
                    <li> <a href="pages/department/add-department.html">Adicionar Clinica</a> </li>
                    <li> <a href="pages/department/department-list.html">Listar Clinicas</a> </li>
                </ul>
            </li>
        </ul>

    </aside>

    <!-- Sidebar Right -->
    <aside id="ms-recent-activity" class="side-nav fixed ms-aside-right ms-scrollable">

        <div class="ms-aside-header">
            <ul class="nav nav-tabs tabs-bordered d-flex nav-justified mb-3" role="tablist">
                <li role="presentation" class="fs-12"><a href="#activityLog" aria-controls="activityLog" class="active" role="tab" data-toggle="tab"> Activity Log</a></li>
                <li role="presentation" class="fs-12"><a href="#recentPosts" aria-controls="recentPosts" role="tab" data-toggle="tab"> Settings </a></li>
                <li><button type="button" class="close ms-toggler text-center" data-target="#ms-recent-activity" data-toggle="slideRight"><span aria-hidden="true">&times;</span></button></li>
            </ul>
        </div>
    </aside>

    <!-- Main Content -->
    <main class="body-content">

        <!-- Navigation Bar -->
        <nav class="navbar ms-navbar">
            <div class="ms-aside-toggler ms-toggler pl-0" data-target="#ms-side-nav" data-toggle="slideLeft">
                <span class="ms-toggler-bar bg-white"></span>
                <span class="ms-toggler-bar bg-white"></span>
                <span class="ms-toggler-bar bg-white"></span>
            </div>
            <div class="logo-sn logo-sm ms-d-block-sm">
                <a class="pl-0 ml-0 text-center navbar-brand mr-0" href="../../index.html"><img src="https://via.placeholder.com/84x41" alt="logo"> </a>
            </div>
            <ul class="ms-nav-list ms-inline mb-0" id="ms-nav-options">
            </ul>
            <div class="ms-toggler ms-d-block-sm pr-0 ms-nav-toggler" data-toggle="slideDown" data-target="#ms-nav-options">
                <span class="ms-toggler-bar bg-primary"></span>
                <span class="ms-toggler-bar bg-primary"></span>
                <span class="ms-toggler-bar bg-primary"></span>
            </div>
        </nav>


        <!-- Body Content Wrapper -->
        <div class="ms-content-wrapper">
            <div class="row">

                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0">
                            <li class="breadcrumb-item"><a href="#"><i class="material-icons">home</i> Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Paciente</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cadastro Paciente</li>
                        </ol>
                    </nav>


                    @*monta grid*@
                    <div class="ms-panel">
                        <div class="ms-panel-header ms-panel-custome">
                            <h6>Cadastro Paciente</h6>
                            <a href="../cadastro/Paciente"><h6>Adicionar Paciente</h6></a>
                        </div>
                        <div class="ms-panel-body">
                            <div class="table-responsive">
                                @*Grid com ajax*@
                                <table id="GridPaciente" class="table table-striped thead-primary w-100"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>




    <!-- SCRIPTS -->
    <!-- Global Required Scripts Start -->
    <script src="../../assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../assets/js/popper.min.js"></script>
    <script src="../../assets/js/bootstrap.min.js"></script>
    <script src="../../assets/js/perfect-scrollbar.js"></script>
    <script src="../../assets/js/jquery-ui.min.js"></script>
    <!-- Global Required Scripts End -->
    <!-- Page Specific Scripts Start -->
    <script src="../../assets/js/slick.min.js"></script>
    <script src="../../assets/js/moment.js"></script>
    <script src="../../assets/js/jquery.webticker.min.js"></script>
    <script src="../../assets/js/Chart.bundle.min.js"></script>
    <script src="../../assets/js/Chart.Financial.js"></script>

    <!-- Page Specific Scripts Finish -->
    <!-- Page Specific Scripts Start -->
    <script src="../../assets/js/datatables.min.js"></script>
    <script src="../../assets/js/data-tables.js"></script>
    <!-- Page Specific Scripts End -->
    <!-- Medboard core JavaScript -->
    <script src="../../assets/js/framework.js"></script>

    <!-- Settings -->
    <script src="../../assets/js/settings.js"></script>

</body>


<script>

    //alert(dataSet);
    jQuery(document).ready(function () {
        var dataSet = @Html.Raw(JsonConvert.SerializeObject(this.Model));
        dataSet = JSON.stringify(dataSet)
        var obj = JSON.parse(dataSet);
        
        $('#GridPaciente').DataTable({
            data: obj,
            "language": {
                "lengthMenu": "Exibe _MENU_ Registros por página",
                "search": "Procurar",
                "paginate": { "previous": "Retorna", "next": "Avança" },
                "zeroRecords": "Nada foi encontrado",
                "info": "Exibindo página _PAGE_ de _PAGES_",
                "infoEmpty": "Sem registros",
                "infoFiltered": "(filtrado de _MAX_ regitros totais)"
            },
            "processing": true, // mostrar a progress bar
            //"serverSide": true, // processamento no servidor
            "filter": true, // habilita o filtro(search box)
            "lengthMenu": [[3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]],
            "pageLength": 10, // define o tamanho da página
            //"ajax": {
            //    "url": "https://localhost:44391/PACIENTE/ListarPacientesGrid",
            //    "type": "POST",
            //    "dataType": "json"
            //},
            "columns":
             [
                 { "data": "NomeCompleto", "title": "Nome", "autowidth": true },
                 { "data": "Celular", "title": "Celular", "autowidth": true },
                    { "data": "Rg", "title": "Rg", "autowidth": true },
                    {
                        "render": function (data, type, full, meta) {
                            return '<a class="fa-edit" href="../cadastro/pacienteEditar/' + full.Id + '">Edit</a>'; }
                    },  
                    //{
                    //    data: null,
                    //    className: "center",
                    //    defaultContent: '<a href="../cadastro/paciente"  class="editor_edit">Edit</a> / <a href="../cadastro/paciente" class="editor_remove">Deletar</a>'
                    //},
                     //{
                     //   data: "Id",
                     //   render: function (data, type, row) {
                     //       return `<button class='edit' >edit</button>`;
                     //   }
             ]
        });
    });


</script>

</html>

