@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Margin top -->
<div id="mt-top-header"></div>
<!-- End Margin top -->
<main id="main">

    <!-- ======= Single ======= -->
    <section id="single">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <h1>POR QUE O VOLUNTARIADO É UMA FERRAMENTA DE AÇÃO SOCIAL?</h1>
                </div>
                <div class="col-lg-2 text-right">
                    <a href="blog.html">voltar</a>
                </div>
                <div class="col-lg-12 my-4">
                    <img class="img-fluid w-100 rounded" src="https://via.placeholder.com/1100x320/F2F2F2" alt="">
                </div>
                <div class="col-lg-10">
                    <div class="row">
                        <div id="autor" class="col-sm-6 my-5">
                            <img class="img__perfil" src="assets/img/autor.png" alt="">
                            <div class="name">Ivan Vemado</div>
                            <div class="date">13 de Out de 2019 (3 minutos de leitura)</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10">
                    <p>
                        Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                        motivacional,
                        mas um altruísmo que é observado em números. Conforme a pesquisa Outras Formas de Trabalho 2017, divulgada
                        pelo (IBGE), 7,4 milhões de pessoas realizaram trabalho voluntário naquele ano. Esse dado revela que houve
                        aumento de 12,9%, se comparado a 2016.
                    </p>
                    <p>
                        Para focar no significado de voluntariado, é preciso, primeiramente, entender sobre ação social. Esse
                        conceito está relacionado a algumas atitudes de um indivíduo ao estabelecer comunicação com outros.
                        Conforme
                        o sociólogo que o desenvolveu, Max Weber, ações sociais podem ser motivadas por questões racionais,
                        afetivas
                        ou tradicionais.
                    </p>
                    <p> Vamos entender melhor como elas podem ser relevantes para a sociedade? Confira!</p>
                    <h5>O QUE É O VOLUNTARIADO?</h5>
                    <p>
                        Referência em tudo que envolve Direitos Humanos, a Organização das Nações Unidas (ONU) é base de
                        inspiração
                        e direcionamento quando o assunto é voluntariado. Segundo a definição da ONU, o voluntário é quem “devido
                        a
                        seu interesse pessoal e ao seu espírito cívico, dedica parte do seu tempo, sem remuneração alguma, a
                        diversas formas de atividades, organizadas ou não, de bem-estar social, ou outros campos...".
                    </p>
                    <p>
                        Considerando-se essa descrição, podemos apontar o voluntariado como esse ato de estar à disposição de
                        outras
                        pessoas, sem recompensa financeira. Logo, a maioria das pessoas que você vê atuando em Organizações Não
                        Governamentais (ONGs), são voluntários.
                    </p>
                    <h5>QUAL É A IMPORTÂNCIA DO VOLUNTÁRIO?</h5>
                    <p>
                        Não é tão difícil identificar onde e como essas pessoas trabalham de maneira voluntária. Porém, em uma
                        sociedade muito baseada na relação com o capital, o que mais estimula inquietações é o porquê. Qual o
                        motivo
                        que leva essas pessoas a se doarem sem ganharem dinheiro?
                    </p>
                    <p>
                        A resposta tem a ver com a importância do voluntariado. Muitas atividades precisam ser realizadas para o
                        bem
                        de uma parcela da população e se tornam inviáveis por falta de verbas. É nesse cenário que as ações
                        sociais
                        fazem a diferença. A motivação pode ser política, religiosa ou de tradições culturais e familiares, mas,
                        independentemente dela, o resultado final é a solidariedade.
                    </p>
                    <h5>COMO FAZER PARTE DE UMA AÇÃO SOCIAL?</h5>
                    <p>
                        O primeiro passo para se integrar a uma ação social de voluntariado é a vontade. Assim, na sequência, as
                        questões práticas se tornam muito mais empolgantes. Dentre elas, está o fato de pensar em causas nas quais
                        você acredita, aquelas que tocam seu coração, que você defende em conversas com amigos e familiares. Após,
                        é
                        preciso pesquisar instituições que atuem nesse nicho e que busquem voluntários.
                    </p>
                    <p>
                        Essa etapa pode ser mais desgastante, pois é preciso encontrar um local idôneo, que realmente aplique o
                        trabalho voluntário para uma causa maior. Por isso, há a possibilidade de buscar intermediários, como
                        plataformas que reúnem boas iniciativas. Esses serviços auxiliam na verificação e comunicação entre quem
                        quer ajudar e quem precisa de ajuda.
                    </p>
                    <p>
                        Com a AltruS, você pode fazer essa escolha diretamente pela nossa plataforma. Estando cadastrado como
                        Altruísta, você pode escolher causas para apoiarcom recursos financeiros. Sendo que as mesmas já podem
                        estar
                        cadastradas na plataforma ou serem indicadas para a Certificação da Startup. A AltruS também conecta
                        Causas
                        a Empresas. Se você tem uma empresa ou é colaborador, e tem interesse em apoiar iniciativas sociais já
                        certificadas previamente, você pode entrar em contato conosco na seção Empresas.
                    </p>
                    <p>
                        A AltruS é uma Startup de Tecnologia Social que tem como missão conectar essas pessoas. Por meio da
                        Plataforma AltruS, unem a comunicação e a tecnologia em favor do social para transformar a vida em
                        sociedade, apresentando causas à nossa rede de Altruístas e provendo voz, acesso e ajuda a essas
                        iniciativas.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Single -->

</main><!-- End #main -->
<!-- ======= box newsletter ======= -->
<section id="newsletter">
    <div class="container">
        <div class="row d-flex align-items-center align-items-xl-start justify-content-sm-end justify-content-xl-start">
            <div class="col-xl-3 col-lg-5 col-sm-5 mb-4 mb-sm-0">
                <h2>
                    <strong>APOIE</strong> A<br>
                    NOSSA <strong>CAUSA</strong>
                </h2>
                <a href="#">Receba a nossa Newsletter</a>
            </div>
            <div class="col-xl-9 col-lg-7 col-sm-7">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-4 my-3 mb-lg-0">
                        <label for="nome">Nome:</label>
                        <input type="text" placeholder="Insira seu nome">
                    </div>
                    <div class="col-xl-4 my-3 mb-lg-0">
                        <label for="email">E-mail:</label>
                        <input type="text" placeholder="Insira o seu melhor e-mail">
                    </div>
                    <div class="col-xl-4 my-3 mb-lg-0 pt-xl-1">
                        <a class="w-100" href="#"><button class="newsletter__a--cadastrar mt-lg-4">CADASTRE-SE</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End box newsletter -->
<!-- Modal Cadastre-se -->
<div id="modal-cadastre-se" class="modal fade bd-cart-lg-causes" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header position-absolute w-100 border-0" style="z-index: 2;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mx-0 mb-3">
                    <div class="col-sm-12 mt-5">
                        <h4 class="title mb-3">Cadastre-se!</h4>
                        <p class="mb-3" style="color: #2F2F30!important;font-size:15px">
                            Selecione abaixo qual tipo de cadastro
                            deseja realizar:
                        </p>
                        <a href="../altrus-plataforma/cadastro-de-altruista-off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>Quero Ajudar</strong>
                                (Cadastro Altruísta)
                            </button>
                        </a>
                        <a href="../altrus-plataforma/cadastro-de-embaixador-off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>Quero ser Embaixador</strong>
                                (Cadastro Embaixador)
                            </button>
                        </a>
                        <a href="../altrus-plataforma/cadastro-de-causas -off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>Sou uma Causa</strong>
                                (Preciso de ajuda)
                            </button>
                        </a>
                        <a href="../altrus-plataforma/cadastro-de-empresa-off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>
                                    Altrus na minha
                                    empresa
                                </strong> (Cadastro White Label)
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>