@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Margin top -->
<div id="mt-top-header"></div>
<!-- End Margin top -->
<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio py-5">
        <div class="container container-portfolio py-5">
            <h4 class="title mb-3">
                Blog
            </h4>
            <p>
                Aqui você acompanha notícias, artigos, curiosidades e muito mais sobre o mundo das causas sociais,
                voluntariado, altruísmo, etc.
            </p>
            <div class="row py-4">
                <div class="col-sm-3">
                    <div class="row" data-aos="fade-up">
                        <div class="col-lg-12">
                            <h4 class="title mb-4">
                                Categorias
                            </h4>
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">Todos</li>
                                <li data-filter=".filter-voluntariado">Voluntariado</li>
                                <li data-filter=".filter-doacoes">Doações</li>
                                <li data-filter=".filter-startup">Startup</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-9">
                    <div class="row portfolio-container" data-aos="fade-up">

                        <div class="col-lg-12 col-md-6 portfolio-item filter-voluntariado">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA VOLUNTARIOS 01</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-6 portfolio-item filter-doacoes">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA DOACOES 01</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-6 portfolio-item filter-startup">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA STARTUP 01</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-6 portfolio-item filter-voluntariado">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA VOLUNTARIOS 02</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-6 portfolio-item filter-doacoes">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA DOACOES 02</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-6 portfolio-item filter-startup">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA STARTUP 02</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-12 col-md-6 portfolio-item filter-doacoes">
                            <a href="/home/bloginterna">
                                <div class="portfolio-wrap">
                                    <img src="https://via.placeholder.com/825x320/F2F2F2" class="img-fluid rounded" alt="">
                                    <div class="portfolio-info mt-3">
                                        <h4>ARTIGO REFERENTE A CATEGORIA DOACOES 03</h4>
                                        <p>
                                            Atualmente, o voluntariado vem crescendo entre os brasileiros. E isso não é apenas um discurso
                                            motivacional, mas um altruísmo que é observado em números ...
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->
<!-- ======= box newsletter ======= -->
<section id="newsletter">
    <div class="container">
        <div class="row d-flex align-items-center align-items-xl-start justify-content-sm-end justify-content-xl-start">
            <div class="col-xl-3 col-lg-5 col-sm-5 mb-4 mb-sm-0">
                <h2>
                    <strong>APOIE</strong> A<br>
                    NOSSA <strong>CAUSA</strong>
                </h2>
                <a href="#">Receba a nossa Newsletter</a>
            </div>
            <div class="col-xl-9 col-lg-7 col-sm-7">
                <div class="row d-flex align-items-center">
                    <div class="col-xl-4 my-3 mb-lg-0">
                        <label for="nome">Nome:</label>
                        <input type="text" placeholder="Insira seu nome">
                    </div>
                    <div class="col-xl-4 my-3 mb-lg-0">
                        <label for="email">E-mail:</label>
                        <input type="text" placeholder="Insira o seu melhor e-mail">
                    </div>
                    <div class="col-xl-4 my-3 mb-lg-0 pt-xl-1">
                        <a class="w-100" href="#"><button class="newsletter__a--cadastrar mt-lg-4">CADASTRE-SE</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End box newsletter -->
<!-- Modal Cadastre-se -->
<div id="modal-cadastre-se" class="modal fade bd-cart-lg-causes" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header position-absolute w-100 border-0" style="z-index: 2;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row mx-0 mb-3">
                    <div class="col-sm-12 mt-5">
                        <h4 class="title mb-3">Cadastre-se!</h4>
                        <p class="mb-3" style="color: #2F2F30!important;font-size:15px">
                            Selecione abaixo qual tipo de cadastro
                            deseja realizar:
                        </p>
                        <a href="../altrus-plataforma/cadastro-de-altruista-off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>Quero Ajudar</strong>
                                (Cadastro Altruísta)
                            </button>
                        </a>
                        <a href="../altrus-plataforma/cadastro-de-embaixador-off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>Quero ser Embaixador</strong>
                                (Cadastro Embaixador)
                            </button>
                        </a>
                        <a href="../altrus-plataforma/cadastro-de-causas -off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>Sou uma Causa</strong>
                                (Preciso de ajuda)
                            </button>
                        </a>
                        <a href="../altrus-plataforma/cadastro-de-empresa-off.html" target="_blank">
                            <button class="modal__btn--cadastre-se">
                                <strong>
                                    Altrus na minha
                                    empresa
                                </strong> (Cadastro White Label)
                            </button>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
