<div id="mt-top-header"></div>
<main>
    <section id="sobre-nos-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <p style="text-align:justify; color:#37c4e8">
                        <h2>Consultoria</h2>
                    </p>
                </div>
                <div class="row">
                    <div class="col-lg-5">

                        <p style="text-align:justify;">
                            A nossa empresa está comprometida com o êxito das estratégias e resultados de nossos clientes, gerando valor e engajamento
                            através do potencial existente, buscando otimizar e potencializar as oportunidades, sendo transparente nas tomadas de decisões e
                            estruturando todo o trabalho. A auditoria realizada segue as regulamentações técnicas e administrativas dos respectivos conselhos
                            em saúde, atendendo as normas e regras pré determinadas, além de conhecimento técnico cientifico. Esta analise e sistematizada
                            nas atividades desenvolvidas, podendo ser auditorias internas ou externas, de acordo com a necessidades do contratante.
                        </p>
                        <p style="text-align:justify;">
                            <strong>Todas as atividades realizadas neste contexto terão evidencias:</strong>
                        </p>
                    </div>
                    <div class="col-lg-5">
                        <div class="w-100 rounded"
                             style="        background: url(/assets/img/logonqs.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        min-height: 200px;">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <img src="~/assets/img/Consultoria.png" />
                </div>
    </section><!-- End Sobre Top Nós -->



</main>