<div id="mt-top-header"></div>
<main>
    <section id="sobre-nos-top">
        <div>
            <div class="container">
                @*<div class="col-lg-5">*@
                <div>
                    <h2>
                        <strong>Cursos e Capacitações</strong>
                    </h2>
                    <div class="col-lg-5">
                        <p style="text-align:justify;">
                            <h2>Treinar e capacitar faz toda diferença em sua empresa.</h2>
                        </p>
                    </div>
                    <p style="text-align:justify;">
                        @*<p  color:#37c4e8">*@
                        Curso e capacitações realizados em sua empresa desempenham o
                        papel fundamental para a qualificação de seus colaboradores estando
                        relacionado diretamente aos resultados esperados pelo seu TIME.
                        A boa gestão está associada à educação continuada e permanente,
                        capacitando e desenvolvendo as habilidades de sua equipe a busca de atender
                        e supera as expectativas
                        Nossa empresa acredita que: Treinamento é a chave do sucesso de
                        uma gestão eficiente.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

