<div id="mt-top-header"></div>
<main>
    <section id="sobre-nos-top">
        <div>
            <div class="container">
                @*<div class="col-lg-5">*@
                <div>
                    <h2>
                        <strong>Health Tech- Business Intelligence</strong>
                    </h2>
                    <div class="col-lg-5">
                        <p style="text-align:justify;">
                            <h2>O poder de transformar a área da saúde em tecnologias exponenciais</h2>
                        </p>
                    </div>
                    @*<p style="text-align:justify;">*@
                    <p style="text-align:justify;">
                        O sistema desenvolvido pela NQS é a garantia da qualidade e
                        segurança em saúde, permitindo o usuário ter acesso à informação: segura,
                        rápida e eficaz, possibilitando a análise dos dados de forma inédita e
                        totalmente intuitiva.
                        Oferecemos soluções exclusivas e inovadoras para o seguimento em
                        Saúde, pensando na facilidade da comunicação e garantia de processos
                        seguros.
                        Nosso time e formado por profissionais da Saúde Médico Enfermeiros,
                        com formação em tecnologia gestão, conferindo ao processo credibilidade e
                        resultados satisfatórios.
                    </p>
                </div>
            </div>
        </div>


        <div>
            <div class="container">
                @*<div class="col-lg-5">*@
                <div>

                    <div class="col-lg-5">
                        <p style="text-align:justify;">
                            <h2>
                                A sua solução e nosso grande desafio. Melhoria de gestão, diagnostico,
                                experiência, entre outras atividades
                            </h2>
                        </p>
                    </div>
                    <p style="text-align:justify;">

                        O uso da aplicação da tecnologia e da informação para a gestão em
                        saúde é um grande diferencial para gerenciar e implantar novos serviços,
                        garantindo a padronização dos cuidados básicos e norteando a realização das
                        atividades.
                        A informatização e integração dos meios de comunicação servem para
                        agilizar os processos proporcionando aos gestores tomadas de decisões
                        eficientes e assertivas através da visualização dos dados de qualidade em
                        tempo real
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

