<div id="mt-top-header"></div>
<main>
    <section id="sobre-nos-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2>
                        <strong>NOSSA EMPRESA</strong>
                    </h2>
                    <p style="text-align:justify;">
                        Somos uma empresa especializada em gestão efetiva na Saúde Publica Surgimos com a necessidade de implementar e implantar: fluxo, processos,
                        protocolos, para garantir a gestão de qualidade e segurança em Saúde.
                    </p>
                </div>
                <div class="col-lg-5">
                    <div class="w-100 rounded"
                         style="        background: url(/assets/img/logonqs.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center left;
        min-height: 200px;">
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Sobre Top Nós -->
    <!-- ======= Missão Visão Valores ======= -->
    <section id="mss-sobre">
        <div class="container">
            <div class="row mss-bg-wt">
                <div class="col-sm-12">
                    <h5 class="title">Missão / Propósito</h5>
                    <p style="text-align:justify;">
                        Promover mudanças na qualidade e segurança da rede de saúde pública com uso de ferramentas informatizadas.
                    </p>
                </div>
            </div>
            <div class="row mss-bg-wt">
                <div class="col-sm-12">
                    <h5 class="title">Visão</h5>
                    <p style="text-align:justify;">
                        Ser um núcleo de referência de  gestão da qualidade no sus com excelência na prestação de serviços de tecnologia da
                        informação e comunicação, alcançando, para 2020, todo grande abc paulista.
                    </p>
                </div>
            </div>
            <div class="row mss-bg-wt">
                <div class="col-sm-10">
                    <h5 class="title">Valores</h5>
                </div>
                <div class="col-sm-12">
                    <p style="text-align:justify;">
                        Excelência - transparência - ética - segurança - equidade - transversalidade.
                    </p>
                </div>

            </div>
        </div>
    </section><!-- End Missão visão Valores  -->

</main>

