.btn-mini-fab {
    width: 30px;
    height: 30px;
}

.icon-fab-button {
    cursor: pointer;
}

.edit-color-icon{
    color: #ea9124;
}

.warn-color-icon{
    color: #c94f4f;
}

.width-table {
    width: 100%;
}

.text-align-th {
    text-align: center;
}

