:host {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.divisor {
    position: relative;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
}

.divisor + .divisor:before {
    content: '/';
    position: absolute;
    top: 4px;
    left: 0;
    line-height: 1.3;
    font-size: 72px;
    transform: translateX(-50%);
}
