<!--<div class="fieldset mb-32">-->
    <!--<h2 class="legend">Organização</h2>-->
    <!--<mat-form-field>
        <mat-select (selectionChange)="trocarOrganizacao()" [formControl]="organizacaoControl">
            <mat-option *ngFor="let org of (listaOrganizacao$ | async)" [value]="org?.id">{{org?.nome}}
            </mat-option>
        </mat-select>
    </mat-form-field>-->
    <!--<div fxLayout="row" fxLayoutAlign="end center">
        <button
            mat-stroked-button
            color="primary"
            *exibirParaNiveis="[NivelPermissao.GoobeeAdmin]"
            (click)="adicionaEditOrg(false)">
            Nova organização
        </button>
        <button
            class="w-124 ml-12"
            mat-raised-button
            color="primary"
            *exibirParaNiveis="[NivelPermissao.GoobeeAdmin, NivelPermissao.OrganizationAdmin]"
            (click)="adicionaEditOrg(true)">
            Editar
        </button>
    </div>-->
<!--</div>-->
