<br />
<form asp-action="empresa" asp-controller="cadastro" method="post">
    <div class="container background-color3">
        <div class="row">
            <div class="col-sm-12 py-3">
                <h4 class="title">Cadastro Empresa (White Label)</h4>
                <div class="row justify-content-sm-between">
                    <div class="col-sm-12 pt-3">
                        <p>Preencha abaixo os dados da empresa que quer contratar o White Label:</p>
                    </div>
                    <div class="col-sm-12">
                        <div class="container px-0 py-4">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cpf">CPF:</label>
                                        <input type="text" name="cpf" id="cpf" placeholder="Insira seu CPF sem os pontos">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="name">Nome Completo:</label>
                                        <input type="text" name="name" id="name" placeholder="Insira  aqui o seu nome">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">E-mail:</label>
                                        <input type="text" name="email" id="email"
                                               placeholder="Insira um e-mail válido">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="whatsapp">Whatsapp:</label>
                                        <input type="text" name="whatsapp" id="whatsapp"
                                               placeholder="Insira o seu telefone sem o traço">
                                    </div>
                                </div>
                                <div class="col-sm-12 mt-5">
                                    <h5 class="title">Dados da Empresa</h5>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cnpj">CNPJ:</label>
                                        <input type="text" name="cnpj" id="cnpj" placeholder="Insira o CNPJ sem os pontos">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="razao">Razão Social:</label>
                                        <input type="text" name="razao" id="razao" placeholder="Insira  aqui a razão social da empresa">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="cname">CNAE:</label>
                                        <input type="text" name="cname" id="cname" placeholder="Insira o CNAE principal da empresa">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inscricao">Inscrição Estadual:</label>
                                        <input type="text" name="inscricao" id="inscricao" placeholder="Insira  a inscrição estadual da empresa. Deixar em branco se isento">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="cep">CEP:</label>
                                        <input type="text" name="cep" id="cep" placeholder="Insira o seu CEP">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="endereco">Seu endereço:</label>
                                        <input type="text" name="endereco" id="endereco" placeholder="Seu endereço">
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="numero">Número:</label>
                                        <input type="text" name="numero" id="numero" placeholder="Insira o número">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="bairro">Bairro:</label>
                                        <input type="text" name="bairro" id="bairro" placeholder="Insira o seu Bairro">
                                    </div>
                                </div>
                                <div id="objetivos" class="col-sm-12 pl-sm-4 my-3">
                                    <h5 class="title">
                                        Qual seu tipo de Causa?
                                    </h5>
                                    <div class="row">
                                        <div class="container pl-lg-4">
                                            <div class="row">
                                                <img class="cause-type-item" src="/assets/img/objetivos/01.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/02.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/03.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/04.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/05.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/06.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/07.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/08.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/09.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/10.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/11.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/12.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/13.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/14.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/15.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/16.png" onclick="$(this).toggleClass('selected');">
                                                <img class="cause-type-item" src="/assets/img/objetivos/17.png" onclick="$(this).toggleClass('selected');">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-10">
                                    <label for="biografia">Logotipo:</label>
                                    <div class="input-group input-group-lg">
                                        <div class="custom-file">
                                            <input type="file" name="inputGroupFileAddon04"
                                                   class="custom-file-input" id="inputGroupFileAddon04"
                                                   accept="image/*"
                                                   aria-describedby="inputGroupFileAddon04"><br>
                                            <label class="custom-file-label"
                                                   for="inputGroupFileAddon04">
                                                Escolher arquivo no seu
                                                computador
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6 my-3">
                                    <label for="cor-primaria">Cor Principal da Empresa</label>
                                    <input type="text" name="cor-primaria" id="cor-primaria" placeholder="Insira o hexadecimal da cor principal">
                                </div>
                                <div class="col-sm-6 my-3">
                                    <label for="cor-secundaria">Cor Secundária da Empresa</label>
                                    <input type="text" name="cor-secundaria" id="cor-secundaria" placeholder="Insira o hexadecimal da cor secundária">
                                </div>
                                <div class="col-sm-12 my-3 pr-sm-0">
                                    <!-- Default inline 2-->
                                    <div class="custom-control d-flex align-items-center custom-checkbox custom-control-inline p-3 m-0">
                                        <input class="cause-item-checkbox" type="checkbox" id="quero">
                                        <p class="check-description m-0 pl-3 pt-1">
                                            Ao marcar este campo,
                                            declaro estar de acordo com os termos de uso da plataforma.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 my-4">
                                    <div class="form-group">
                                        <button class="btn btn-whiteonblue" type="submit">CADASTRAR</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>