<div class="page-layout carded fullwidth" fusePerfectScrollbar>
    <div class="center">
        <!--<div class="container my-32 mb-12" [ngClass]="{'container-meu-perfil': exibirParaUsuarioLogado()}">
            <div class="perfil-col-1">
                <div class="item">
                    <div class="item-head title-left mb-16">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Perfil
                        </span>
                    </div>
                    <mat-card>
                        <mat-card-header>
                            <div class="img-notify-email">
                                <button *ngIf="!retornaPerfil?.senhaCriada" [disabled]="isLoading.enviaConvite"
                                    [ngStyle]="{'background-color': reenviaConviteCor}" class="notify-email" mat-mini-fab
                                    aria-label="Botão para enviar reenvial email de ativação" matTooltip="Reenviar Email de Convite" matTooltipPosition="right" (click)="reenviaEmail()">
                                    <mat-icon class="btn-icon-white">email</mat-icon>
                                </button>
                                <div
                                    mat-card-avatar
                                    *ngIf="retornaPerfil && retornaPerfil.foto"
                                    style.background-image="url({{retornaPerfil.foto | encodeWhiteSpace}})">
                                </div>
                                <div
                                    mat-card-avatar
                                    *ngIf="!retornaPerfil || !retornaPerfil.foto"
                                    [style.background-image]="'url(assets/images/logos/goobee_masculino.png)'">
                                </div>
                            </div>
                            <div fxFlex class="text-div-center" fxLayout="column">
                                <mat-card-title>{{ retornaPerfil?.nome }}</mat-card-title>
                                <mat-card-subtitle>{{ retornaPerfil?.funcaoPrincipal }}</mat-card-subtitle>
                                <button
                                    *exibirParaNiveis="[
                                        NivelPermissao.GoobeeAdmin,
                                        NivelPermissao.OrganizationAdmin,
                                        NivelPermissao.AgileCoach
                                    ]; ouSeTeamLeader: listaTimesSelecionadosIDs; ouSeMesmaPessoa: tokenComId"
                                    mat-mini-fab
                                    color="primary"
                                    class="btn--xs btn-editar-perfil"
                                    aria-label="Editar meu perfil"
                                    (click)="editarPerfil()">
                                    <mat-icon color="white">edit</mat-icon>
                                </button>
                            </div>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxFlexFill class="title-left">
                                <h3>
                                    Time(s):
                                    <ng-container *ngIf="listaTimesSelecionadosIDs">
                                        <button
                                            *exibirParaNiveis="[
                                                NivelPermissao.GoobeeAdmin,
                                                NivelPermissao.OrganizationAdmin,
                                                NivelPermissao.AgileCoach
                                            ]; ouSeTeamLeader: listaTimesSelecionadosIDs"
                                            mat-mini-fab
                                            color="primary"
                                            class="btn--xs"
                                            aria-label="Editar meus times"
                                            (click)="editarTime()">
                                            <mat-icon color="white">edit</mat-icon>
                                        </button>
                                    </ng-container>
                                </h3>
                                <mat-card-subtitle>
                                    <span class="ml-4" *ngFor="let item of listaTimesSelecionados; let i = index">
                                        {{ item.nome }}
                                        {{ (i + 1) !== listaTimesSelecionados.length ? ',' : '' }}
                                    </span>
                                </mat-card-subtitle>
                            </div>
                            <div fxFlexFill class="title-left">
                                <h3>
                                    Cliente(s):
                                    <ng-container *ngIf="listaTimesSelecionadosIDs">
                                        <button
                                            *exibirParaNiveis="[
                                                NivelPermissao.GoobeeAdmin,
                                                NivelPermissao.OrganizationAdmin,
                                                NivelPermissao.AgileCoach
                                            ]; ouSeTeamLeader: listaTimesSelecionadosIDs"
                                            mat-mini-fab
                                            color="primary"
                                            class="btn--xs"
                                            aria-label="Editar meus clientes"
                                            (click)="editarCliente()">
                                            <mat-icon color="white">edit</mat-icon>
                                        </button>
                                    </ng-container>
                                </h3>
                                <button
                                    mat-flat-button
                                    (click)="historicoClientes()">
                                    {{ retornaPerfil?.ultimoCliente }}
                                </button>
                            </div>
                            <div fxFlexFill>
                                <h3 class="title-left">Habilidades:</h3>
                                <ng-container *ngIf="listaTimesSelecionadosIDs">
                                    <mat-form-field
                                        *exibirParaNiveis="[
                                            NivelPermissao.GoobeeAdmin,
                                            NivelPermissao.OrganizationAdmin,
                                            NivelPermissao.AgileCoach
                                        ]; ouSeTeamLeader: listaTimesSelecionadosIDs; ouSeMesmaPessoa: tokenComId; else elsePermissao"
                                        fxFlexFill>
                                        <mat-chip-list #chipList aria-label="Seleção de Habilidades">
                                            <mat-chip
                                                *ngFor="let item of habilidades"
                                                class="color-chip"
                                                [selectable]="selectable"
                                                [removable]="removable"
                                                (removed)="remove(item)">
                                                {{item.nomeHabilidade}}
                                                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                            </mat-chip>
                                            <input
                                                #habilidadeInput
                                                maxlength="20"
                                                (ngModelChange)="filtrarHabilidades($event)"
                                                [matChipInputFor]="chipList"
                                                [formControl]="habilidadeCtrl"
                                                [matAutocomplete]="auto"
                                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                [matChipInputAddOnBlur]="addOnBlur"
                                                (matChipInputTokenEnd)="add($event)">
                                        </mat-chip-list>
                                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                            <mat-option *ngFor="let item of listaHabilidadesComboBox" [value]="item">
                                                {{item.nomeHabilidade}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                    <ng-template #elsePermissao>
                                        <mat-form-field fxFlexFill>
                                            <mat-chip-list #chipList aria-label="Seleção de Habilidades">
                                                <mat-chip
                                                    *ngFor="let item of habilidades"
                                                    class="color-chip">
                                                    {{item.nomeHabilidade}}
                                                </mat-chip>
                                            </mat-chip-list>
                                        </mat-form-field>
                                    </ng-template>
                                </ng-container>
                            </div>
                            <div fxFlexFill>
                                <h3 class="title-left">Badges:</h3>
                                <mat-toolbar-row class="mt-32">
                                    <div class="m-8">
                                        <mat-icon aria-label="Example heart icon">theaters</mat-icon>
                                        <h4>Valor</h4>
                                    </div>
                                    <div class="m-8">
                                        <mat-icon aria-label="Example delete icon">touch_app</mat-icon>
                                        <h4>Liderança</h4>
                                    </div>
                                </mat-toolbar-row>
                            </div>
                            <div fxFlexFill class="title-left">
                                <h4>Mini Bio</h4>
                                <h5 class="bio">{{ retornaPerfil?.miniBio }}</h5>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
            <div class="perfil-col-2">
                <div class="item">
                    <div class="item-head title-left mb-16">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Visitas
                        </span>
                    </div>
                    <mat-card class="item-visitas">
                        <mat-card-content class="text-div-center" fxLayout.lt-md="column" fxLayout.lt-xl="column"
                            fxLayout.xs="row" fxLayout.sm="row">
                            <div fxFlex="60" fxFlex.lt-sm="100" fxFlexAlign.lt-sm="1 1 auto">
                                <span class="qtd-visitas">{{ retornaPerfil?.quantidadeVisitas }}</span>
                                <br />
                                <p>Visitas Realizadas</p>
                            </div>
                            <div
                                *exibirParaNiveis="[
                                    NivelPermissao.GoobeeAdmin,
                                    NivelPermissao.OrganizationAdmin,
                                    NivelPermissao.AgileCoach
                                ]; ouSeTeamLeader: listaTimesSelecionadosIDs; ouSeMesmaPessoa: tokenComId"
                                fxFlex="40"
                                fxFlex.fxFlexAlign.lt-sm="100"
                            >
                                <div>
                                    <small>Última data:</small><br>
                                    <small>{{ retornaPerfil?.ultimoCheckpoint | date : 'dd/MM/yyyy' }}</small>
                                </div>
                                <br>
                                <div>
                                    <small>Próxima data:</small><br>
                                    <small>{{ retornaPerfil?.proximoCheckpoint | date : 'dd/MM/yyyy' }}</small>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-footer
                            *exibirParaNiveis="[
                                NivelPermissao.GoobeeAdmin,
                                NivelPermissao.OrganizationAdmin,
                                NivelPermissao.AgileCoach
                            ]; ouSeTeamLeader: listaTimesSelecionadosIDs; ouSeMesmaPessoa: tokenComId"
                        >
                            <mat-card-actions>
                                <button
                                    *ngIf="retornaPerfil"
                                    mat-flat-button
                                    color="primary"
                                    [routerLink]="['/checkpoint/', tokenComId, retornaPerfil.nome]">
                                    Ver Checkpoints
                                </button>
                            </mat-card-actions>
                        </mat-card-footer>
                    </mat-card>
                </div>

                <div class="item">
                    <div class="item-head title-left mb-16">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Habilidades
                        </span>
                    </div>
                    <mat-card class="item-habilidade text-div-center">
                        <h1 class="font-big">{{ habilidades?.length || '0' }}</h1>
                    </mat-card>
                </div>

                <div class="item">
                    <div class="item-head title-left mb-16">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Sentimento
                        </span>
                    </div>
                    <mat-card class="mat-card--flex">
                        <mat-card-content fxLayout="column" fxLayoutAlign="center center">
                            <div class="perfil-mood__img" [ngSwitch]="retornaPerfil?.mediaSentimentoColaborador">
                                <img
                                    *ngSwitchCase="SentimentoEnum.Feliz"
                                    src="assets/images/logos/sentimentos_Feliz.svg"
                                    alt="Feliz"
                                >
                                <img
                                    *ngSwitchCase="SentimentoEnum.Neutro"
                                    src="assets/images/logos/sentimentos_Neutro.svg"
                                    alt="Neutro"
                                >
                                <img
                                    *ngSwitchCase="SentimentoEnum.Irritado"
                                    src="assets/images/logos/sentimentos_Irritado.svg"
                                    alt="Irritado"
                                >
                            </div>
                            <mat-card-title class="mat-card-title--xs text-center mt-12" [ngSwitch]="retornaPerfil?.mediaSentimentoColaborador">
                                <span *ngSwitchCase="SentimentoEnum.Feliz">Feliz</span>
                                <span *ngSwitchCase="SentimentoEnum.Neutro">Neutro</span>
                                <span *ngSwitchCase="SentimentoEnum.Irritado">Irritado</span>
                            </mat-card-title>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div class="item" fxLayout="column" *ngIf="exibirParaUsuarioLogado()">
                    <div class="item-head title-left mb-16" fxFlex="0 0 auto">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Kudo Cards
                        </span>
                    </div>
                    <app-kudo-cards-card [idPessoa]="tokenComId"></app-kudo-cards-card>
                </div>

                <div class="item">
                    <div class="item-head title-left mb-16">
                        <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                            Ações
                        </span>
                    </div>
                    <mat-card class="mat-card--flex item-visitas">
                        <mat-card-header class="text-div-right">
                            <ng-container *ngIf="listaTimesSelecionadosIDs">
                                <button
                                    *exibirParaNiveis="[
                                        NivelPermissao.GoobeeAdmin,
                                        NivelPermissao.OrganizationAdmin,
                                        NivelPermissao.AgileCoach
                                    ]; ouSeTeamLeader: listaTimesSelecionadosIDs; ouSeMesmaPessoa: tokenComId;"
                                    mat-mini-fab
                                    (click)="adicionaAcao()">
                                    <mat-icon class="icon">add</mat-icon>
                                </button>
                            </ng-container>
                        </mat-card-header>
                        <mat-card-content>
                            <h1 class="text-center font-big mb-0">
                                {{ qtdAcoesCompletas }}/{{ qtdAcoesTotal }}
                            </h1>
                            <mat-card-title class="mat-card-title--xs text-center">
                                Tarefas do plano de ação
                            </mat-card-title>
                        </mat-card-content>
                        <mat-card-actions
                            *exibirParaNiveis="[
                                NivelPermissao.GoobeeAdmin,
                                NivelPermissao.OrganizationAdmin,
                                NivelPermissao.AgileCoach
                            ]; ouSeTeamLeader: listaTimesSelecionadosIDs; ouSeMesmaPessoa: tokenComId;"
                            class="mat-card-actions--border-top"
                            fxLayoutAlign="flex-end center"
                        >
                            <button mat-button (click)="abrirListaAcoes()">Listar</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>-->
        <!--<app-motivadores
            [idPessoa]="tokenComId"
            [idsTimes]="listaTimesSelecionadosIDs">
        </app-motivadores>-->
        <app-personal-mapping
            [idPessoa]="tokenComId"
            [idsTimes]="listaTimesSelecionadosIDs"
            [usuario]="usuario">
        </app-personal-mapping>
    </div>
</div>