<div id="mt-top-header"></div>
<main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="faq" class="faq py-5">
        <div class="container container-portfolio py-5">
            <h4 class="title mb-3">
                FAQ
            </h4>
            <p>
                Aqui você acompanha notícias, artigos, curiosidades e muito mais sobre o mundo das causas sociais,
                voluntariado, altruísmo, etc.
            </p>
            <div class="row py-4">
                <div class="col-sm-3">
                    <div class="row">
                        <div class="col-lg-12">
                            <h4 class="title mb-4">
                                Categorias
                            </h4>
                            <ul class="faq-list">
                                <li><a href="#">TOP 5 (Institucional)</a></li>
                                <li><a href="#">Altruístas</a></li>
                                <li><a href="#">Causas</a></li>
                                <li><a href="#">Empresas</a></li>
                                <li><a href="#">Embaixadores</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="col-sm-9 mt-5">
                    <div class="row">
                        <!--Accordion wrapper-->
                        <div class="accordion md-accordion w-100" id="accordionEx" role="tablist"
                             aria-multiselectable="true">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1"
                                   aria-expanded="true" aria-controls="collapseOne1">
                                    <div class="card-header" role="tab" id="headingOne1">

                                        <h5 class="mb-0">
                                            01. O que é a Altrus? <i class="icon-collapse"></i>
                                        </h5>

                                    </div>
                                </a>

                                <!-- Card body -->
                                <div id="collapseOne1" class="collapse show" role="tabpanel"
                                     aria-labelledby="headingOne1" data-parent="#accordionEx">
                                    <div class="card-body text-black-50">
                                        A AltruS e uma Startup de Tecnologia Social que tem como propósito despertar
                                        o Altruísmo adormecido no planeta. Criamos soluções de tecnologia social
                                        para encurtar a distância entre pessoas e empresas que desejam ajudar com
                                        Organizações da Sociedade Civil (ONGS) que precisam de ajuda.

                                        O nosso projeto mais importante é a plataforma de engajamento social AltruS,
                                        que viabiliza a doação de recursos financeiros e produtos para campanhas de
                                        ONGs em todo o Brasil.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                   href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                    <div class="card-header" role="tab" id="headingTwo2">
                                        <h5 class="mb-0">
                                            02. Como a AtruS é monetizada? <i class="icon-collapse"></i>
                                        </h5>
                                    </div>
                                </a>

                                <!-- Card body -->
                                <div id="collapseTwo2" class="collapse" role="tabpanel"
                                     aria-labelledby="headingTwo2" data-parent="#accordionEx">
                                    <div class="card-body text-black-50">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3
                                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                        quinoa nesciunt laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla

                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                   href="#collapseThree3" aria-expanded="false" aria-controls="collapseThree3">
                                    <div class="card-header" role="tab" id="headingThree3">
                                        <h5 class="mb-0">
                                            03. Quais são os serviços oferecidos pela plataforma? <i class="icon-collapse"></i>
                                        </h5>
                                    </div>
                                </a>

                                <!-- Card body -->
                                <div id="collapseThree3" class="collapse" role="tabpanel"
                                     aria-labelledby="headingThree3" data-parent="#accordionEx">
                                    <div class="card-body text-black-50">
                                        Nihil anim keffiyeh helvetica, craft beer labore
                                        wes anderson cred
                                        nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                        of them accusamus
                                        labore sustainable VHS.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                   href="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                    <div class="card-header" role="tab" id="headingThree4">
                                        <h5 class="mb-0">
                                            04. Quais são regiões de atuação da plataforma? <i class="icon-collapse"></i>
                                        </h5>
                                    </div>
                                </a>

                                <!-- Card body -->
                                <div id="collapseThree4" class="collapse" role="tabpanel"
                                     aria-labelledby="headingThree4" data-parent="#accordionEx">
                                    <div class="card-body text-black-50">
                                        Ad vegan excepteur butcher vice lomo.
                                        Leggings occaecat craft beer
                                        farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                        of them accusamus
                                        labore sustainable VHS.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->
                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx"
                                   href="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                    <div class="card-header" role="tab" id="headingThree5">
                                        <h5 class="mb-0">
                                            05. Como falar com a AltruS? <i class="icon-collapse"></i>
                                        </h5>
                                    </div>
                                </a>

                                <!-- Card body -->
                                <div id="collapseThree5" class="collapse" role="tabpanel"
                                     aria-labelledby="headingThree5" data-parent="#accordionEx">
                                    <div class="card-body text-black-50">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                        richardson ad squid. 3
                                        wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                        quinoa nesciunt laborum
                                        eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                        single-origin coffee nulla
                                        assumenda shoreditch et.
                                    </div>
                                </div>

                            </div>
                            <!-- Accordion card -->

                        </div>
                        <!-- Accordion wrapper -->
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->

@{ await Html.RenderPartialAsync("newsletter", new Leega.Dtos.Newsletter());}
