

@section Scripts
{
    <script src="@Url.Content("/assets/js/causes.js")"></script>
}

<div id="causes" style="height: fit-content;">
    <div style="background:url(/assets/img/home_bg.jpg);background-repeat: no-repeat;background-size: cover;background-position: center;">

        <div class="container-fluid px-0 h-100 opaque80">
            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-5 col-xl-4">
                        <h2>
                            SEJA O SEU <strong>MELHOR</strong>.
                            SEJA <strong>ALTRUS</strong>!
                        </h2>
                    </div>
                    <div class="col-lg-6 col-xl-5">
                        <p class="text-white">Apresentamos causas certificadas para você ajudar com segurança. Conheça campanhas inspiradoras e ajude em poucos cliques.</p>
                    </div>
                </div>
            </div>

            <div id="causes-list" class="container py-5 py-xl-3 px-0">
                <div id="cause-item-container" class="owl-carousel">
                 
                </div>
            </div>

            <div class="container py-sm-3">
                <div class="row justify-content-center pb-5">
                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                        <a asp-action="index" asp-controller="basket"><input id="btnDoar" data-keyboard="false" class="btn btn-whiteontranparent" type="button" value="QUERO DOAR!"></a>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-3 mb-sm-0">
                        <a asp-action="causas" asp-controller="home"><input type="button" class="btn btn-whiteontranparent" value="VER TODAS AS CAUSAS" /></a>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <main id="main">
        <!-- ======= Call to action Section ======= -->
        <section id="call-to-action" class="call-to-action"
                 style="background: url(/assets/img/call-to-action.png), #000;background-repeat: no-repeat;background-size: cover;background-position: center left;height: 560px;">

            <div class="container h-100">
                <div class="row d-flex align-items-center h-100">
                    <div class="col-lg-6">
                        <h2>
                            <strong>RESPONSABILIDADE SOCIAL</strong>
                            PARA A SUA <strong>EMPRESA</strong>!
                        </h2>
                        <p class="text-white">
                            Engaje seus colaboradores e clientes a ajudar ONGs certificadas em uma plataforma exclusiva para a sua empresa!
                        </p>
                        <a asp-action="whitelabel" asp-controller="home"><input type="button" class="btn btn-blackonorange" value="QUERO CONTRATAR!" /></a>
                    </div>
                </div>
            </div>
        </section><!-- End Call to action Section -->

        <section class="pb-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <a href="http://www.agenda2030.com.br" target="_blank">
                            <img class="img-fluid"
                                 src="/assets/img/objetivos-altrus.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <!-- ======= My cause Section ======= -->
        <section id="my-cause" class="my-cause">
            <div class="container">

                <div class="row justify-content-between d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="w-100 rounded"
                             style="background: url(/assets/img/my-cause.jpg);background-repeat: no-repeat;background-size: cover;background-position: center left;min-height: 320px;">
                        </div>
                    </div>
                    <div class="col-lg-5 my-3 my-lg-0">
                        <h2>
                            DÊ <strong>VOZ</strong><br>
                            À SUA <strong>CAUSA</strong>!
                        </h2>
                        <p>Cadastre-se na plataforma e promova sua causa para nossa rede de altruístas.</p>
                        <a asp-action="ong" asp-controller="cadastro"><input type="button" class="btn btn-blueonwhite" value="EU TENHO UMA CAUSA" /></a>
                    </div>
                </div>

            </div>

        </section><!-- End My cause Section -->
        <!-- ======= Sobre Section ======= -->
        <section id="sobre" class="sobre pt-0">
            <div class="container">

                <div class="row">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="sobre_box sobre__box--left">
                            <h2>
                                <strong>PRAZER</strong>, NÓS<br>
                                SOMOS <strong>A ALTRUS</strong>
                            </h2>
                            <p>
                                A AltruS é uma grande corrente de ajuda, amor e altruísmo. Acreditamos que existem mais pessoas boas do que más no mundo. Acreditamos que existem mais pessoas querendo ajudar do que omissas no mundo. E a nossa causa é juntar essas pessoas àqueles que precisam delas.
                            </p>
                            <a asp-action="sobre" asp-controller="home"><input type="button" class="btn btn-lightblueonblue" value="SAIBA MAIS" /></a>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <div class="sobre_box sobre__box--right">
                            <h2>
                                EMBAIXADOR, NÓS
                                <strong>PRECISAMOS</strong> DE VOCÊ
                            </h2>
                            <p>
                                Já pensou em ajudar ONGS da sua cidade a receberem doações? Inscreva-se como Embaixador ou Embaixadora da AltruS e colabore para ampliar o alcance da voz das causas aí onde você mora.
                            </p>
                            <br />
                            <br />
                            <a asp-action="embaixador" asp-controller="cadastro"><input type="button" class="btn btn-whiteonblue2" value="QUERO SEM EMBAIXADOR" /></a>
                        </div>
                    </div>
                </div>

            </div>

        </section><!-- End Sobre Section -->
        <!-- ======= Depoimentos Section ======= -->
        <section id="depoimentos" class="depoimentos pt-0">

            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-3">
                        <h2 class="mb-4">
                            DEPOIMENTOS<br>
                            DE QUEM <strong>APOIA</strong><br>
                            A <strong>ALTRUS</strong>
                        </h2>
                    </div>
                    <div class="col-lg-4 my-4 my-lg-0">
                        <a class="venobox" data-vbtype="video" data-autoplay="true" href="https://youtu.be/QHiRts17hsc">
                            <img class="w-100 img-fluid rounded" src="/assets/img/video-depoimento.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-lg-5">
                        <p>
                            ”Oi! Eu apoio a AltruS porque eu sou sempre a favor da solidariedade. Eu acredito nesse caminho. A
                            AltruS, ela promove o encontro de doadores com quem precisa de doação. E tudo de uma forma muito
                            transparente. Dá uma olhadinha no site. Procure se informar melhor! Eu espero que você se interesse. É
                            isso aí! Valeu!"
                        </p>
                        <p><span style="color: #00508A;text-transform: uppercase;font-weight: bold;">Reynaldo Gianechinni</span></p>
                    </div>
                </div>
            </div>

        </section><!-- End Depoimentos Section -->
    </main><!-- End #main -->
</div>


