<div id="mt-top-header"></div>
<main>
    <section id="sobre-nos-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2>
                        PRAZER, NÓS SOMOS
                        <strong>A ALTRUS!</strong>
                    </h2>
                    <p style="text-align:justify;">
                        A AltruS é uma Startup de Tecnologia Social que foi criada para encurtar a distância entre pessoas e empresas que desejam ajudar e ONGS que precisam de ajuda. Por meio da Plataforma AltruS, unimos a comunicação e a tecnologia em favor do social para transformar a vida das pessoas, apresentando causas à nossa rede de Altruístas e provendo voz, acesso e ajuda a essas iniciativas.
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="w-100 rounded"
                         style="background: url(/assets/img/page-sobre/sobre-nos-top.png);background-repeat: no-repeat;background-size: cover;background-position: center left;min-height: 400px;">
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Sobre Top Nós -->
    <!-- ======= Sobre Nós Middle Section ======= -->
    <section id="sobre-nos-middle">

        <div class="container">
            <div class="row">
                <div class="col-lg-3" style="color: #0093C8;">
                    Depoimento de Superação
                    do <strong>Bruno Aleixo</strong>, Fundador
                    da <strong>AltruS</strong>:
                </div>
                <div class="col-lg-4">
                    <p style="text-align:justify;">
                        No dia primeiro de agosto de 2012, no auge da minha forma física e carreira profissional, sofri um AVC.
                        Tinha apenas 5% de chances de sobreviver e hoje estou aqui para agradecer e contar a minha história de
                        felicidade e superação.
                    </p>
                    <p style="text-align:justify;">
                        Enquanto estive em uma cadeira de rodas, entre uma fisioterapia e outra, comecei a pensar em como
                        poderia
                        usar o meu conhecimento em marketing em benefício do próximo, e comecei a idealizar a AltruS, um canal
                        para conectar altruístas e empresas socialmente responsáveis a iniciativas sociais que demandam ajuda,
                        utilizando a tecnologia em favor da promoção do altruísmo.
                    </p>
                </div>
                <div class="col-lg-5 px-lg-5">
                    <p style="text-align:justify;">
                        Esse é o nosso novo projeto de vida, o nosso legado para o mundo e precisamos de você, não só para
                        curtir, mas também para compartilhar essa ideia e fazer parte da nossa rede, de fato social.
                    </p>
                    <p style="color: #0093C8;font-weight: bold;">
                        "Hoje, a sigla AVC passou a ter um novo significado pra mim:
                        A Vida Continua."
                    </p>
                </div>
            </div>
        </div>

    </section><!-- End Sobre Middle Nós -->
    <!-- ======= Missão Visão Valores ======= -->
    <section id="mss-sobre">
        <div class="container">
            <div class="row mss-bg-wt">
                <div class="col-sm-12">
                    <h5 class="title">Missão / Propósito</h5>
                    <p class="m-0">
                        Potencializar a capacidade de ajudar o mundo com ações de tecnologia social para fomentar a cultura da doação digital.
                    </p>
                </div>
            </div>
            <div class="row mss-bg-wt">
                <div class="col-sm-12">
                    <h5 class="title">Visão</h5>
                    <p class="m-0">
                        Ser reconhecida globalmente como empresa referência em soluções de tecnologia voltada para o fomento da cultura da doação digital.
                    </p>
                </div>
            </div>
            <div class="row mss-bg-wt">
                <div class="col-sm-10">
                    <h5 class="title">Valores</h5>
                </div>
                <div class="col-sm-12">
                    <p class="m-0">Altruísmo, Inovação, Colaboração, Transparência e Diversidade.</p>
                </div>

            </div>
        </div>
    </section><!-- End Missão visão Valores  -->
    <!-- ======= Sobre Nós Bottom Section ======= -->
    <section id="sobre-nos-bottom">

        <div class="container">
            <div class="row d-flex align-items-center">
                <div class="col-lg-5">
                    <h2>
                        O QUE NOS
                        <strong>MOVE?</strong>
                    </h2>
                    <p style="text-align:justify;">
                        <strong>MUDANÇA.</strong> Este foi o elo que uniu dois jovens em São Paulo, que em momentos de conflito
                        e questionamento
                        decidiram se voltar para dentro e escutar seus corações. A resposta veio como um novo propósito nas suas
                        vidas, e a vontade de fazer algo pelo mundo foi a solução encontrada. Como? Trazendo à tona o altruísmo
                        nas pessoas e assim transformar o mundo por meio de AÇÕES SOCIAIS INOVADORAS.

                        <br><br>Assim nasceu a <strong>AltruS.</strong>
                    </p>
                </div>
                <div class="col-lg-7">
                    <div class="w-100 rounded"
                         style="background: url(/assets/img/page-sobre/sobre-nos-bottom.jpg);background-repeat: no-repeat;background-size: cover;background-position: center left;min-height: 400px;">
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Sobre Bottom Nós -->
    <!-- ======= Sobre Nós Section ======= -->
    <section id="sobre-parceiros">

        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <h2>
                        NOSSOS
                        <strong>PARCEIROS</strong>
                    </h2>
                    <p>
                        Ninguém faz algo grandioso
                        e que valha a pena sozinho.
                    </p>
                    <p>
                        Conheça aqui as <br>
                        <strong>Empresas Parceiras</strong> da <strong>AltruS.</strong>
                    </p>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/sevense7e.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/payplece.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/arista.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/olos.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/inov.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/ledga.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/convex.jpg" alt="">
                        </div>
                        <div class="col-sm-6 col-lg-4 mb-4">
                            <img class="parceiros__img"
                                 src="/assets/img/page-sobre/parceiros/eats.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section><!-- End Sobre Nós -->
</main>

@{ await Html.RenderPartialAsync("newsletter", new Leega.Dtos.Newsletter());}
