<!-- ======= White Label Top Section ======= -->
<section id="white-label-top">

    <div class="container pb-sm-5">
        <div class="row">
            <div class="col-lg-5">
                <h2><strong>White Label</strong></h2>
                <p>
                    Tenha sua própria plataforma digital para engajar colaboradores, fornecedores, parceiros
                    e clientes com causas sociais em poucos cliques.
                </p>
                <p>
                    Criamos um ambiente virtual personalizado para sua empresa se conectar com ONGs e
                    campanhas inspiradoras certificadas com o selo AltruS.
                </p>
                <p>
                    Acesso a relatórios analíticos com todas as informações disponíveis para sua empresa
                    gerar impacto social com transparência e segurança.
                </p>
            </div>
            <div class="col-lg-7">
                <div class="w-100 rounded"
                     style="background: url(/assets/img/white-label/white-label.jpg);background-repeat: no-repeat;background-size: cover;background-position: center left;padding-top: 63%;">
                </div>
            </div>
        </div>
    </div>

</section><!-- End White Label Top -->
<!-- ======= White Label Middle Section ======= -->
<section id="white-label-middle">

    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7">
                <div class="w-100 mb-4 rounded img-como-funciona"
                     style="background: url(/assets/img/white-label/como-funciona.jpg);background-repeat: no-repeat;background-size: cover;background-position: center left;padding-top: 63%;">
                </div>
                <div class="col-lg-7 px-0">
                    <h4 class="title py-3"><strong>Como funciona?</strong></h4>
                    <p>
                        Ao contratar o white label da <strong>AltruS</strong>, sua empresa recebe um acesso
                        para uma plataforma de engajamento social exclusiva.
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <p>
                    <strong>01</strong> - Faça a customização da plataforma. Escolha as cores, insira a
                    marca e deixe a plataforma com a cara da sua empresa.
                </p>
                <p>
                    <strong>02</strong> - Escolha as Causas que combinam com o DNA Social da empresa,
                    seguindo os Objetivos de Desenvolvimento Sustentável da ONU;
                </p>
                <p>
                    <strong>03</strong> - Divulgue a plataforma para seus colaboradores, fornecedores,
                    parceiros e clientes e fomente a cultura da doação dentro da sua empresa.
                </p>
                <p>
                    <strong>04</strong> - Acompanhe em tempo real as doações por um painel com
                    informações sobre as ajudas e transparência.
                </p>
            </div>
        </div>
    </div>

</section><!-- End White Label Middle -->
<!-- ======= White Label Bottom Section ======= -->
<section id="white-label-bottom">

    <div class="container">
        <div class="row d-flex justify-content-between align-items-end">
            <div class="col-lg-7">
                <p>
                    <strong>ONGS e CAMPANHAS CERTIFICADAS</strong> ​previamente pelo nosso time
                    com o
                    SELO ALTRUS​ para seus colaboradores ajudarem com confiança.
                </p>
                <p>
                    <strong>ATUALIZAÇÃO ONLINE DE NOVAS ORGANIZAÇÕES</strong>​ incluindo as que já
                    são
                    apoiadas pela empresa.
                </p>
                <p>
                    <strong>ALINHAMENTO COM OS ODS</strong> ​(Objetivos do Desenvolvimento
                    Sustentável
                    da ONU). Ongs e Campanhas em consonância com os ODS.
                </p>
                <p>
                    <strong>
                        DOAÇÕES DE RECURSOS FINANCEIROS, PRODUTOS, EVENTOS, ENTRE
                        OUTROS.
                    </strong>
                </p>
                <p>
                    Opção de <strong>​RECORRÊNCIA</strong> nas doações​, viabilizando ajudas
                    mensais
                    para as <strong>ONGs escolhidas</strong>.
                </p>
                <p>
                    Disponibilidade de <strong>doações​ ​por ​QR CODE</strong>​ para cada
                    campanha.
                </p>
                <p>
                    <strong>USUÁRIO ADMIN​</strong> com autonomia para gerenciar doadores e
                    causas.
                </p>
                <p>
                    <strong>DASHBOARDS ONLINE</strong>​ com dados instantâneos e historicos sobre
                    campanhas, doações,
                    usuários, eventos, etc.
                </p>
            </div>
            <div class="col-lg-4 mt-5 mt-sm-0">
                <h2>
                    AS AÇÕES DA<strong>ALTRUS</strong><br>
                    NA SUA <strong>EMPRESA!</strong>
                </h2>
                <p>
                    Estratégia e implementação de voluntariado empresarial e responsabilidade social,
                    adequados a sua empresa!
                </p>
                <a class="btn btn-contratar" href="/altrus-plataforma/cadastro-de-empresa-off.html" target="_blank">QUERO CONTRATAR!</a>
            </div>
        </div>
    </div>

</section><!-- End White Label Bottom -->

@{ await Html.RenderPartialAsync("newsletter", new Leega.Dtos.Newsletter());}    <!-- Modal Cadastre-se -->
