<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                @*<div class="col-lg-3 col-md-4 footer-contact text-sm-left text-center mb-lg-0 mb-3">
                    <div class="mr-auto">
                        <a href="dashboard.html"><img src="/assets/img/ALTERALOGO_ALT.png" alt="" class="img-fluid"></a>
                        <p class="p-0">
                            AltruS Tecnologia Social Ltda.<br>
                            28.832.786/0001-22<br>
                        </p>
                    </div>
                </div>*@
                @*<div class="col-lg-3 col-md-4 footer-links text-sm-left text-center mb-lg-0 mb-3">
                    <h4>Links úteis</h4>
                    <ul>
                        <li><a href="/assets/docs/PoliticaSeguranca.pdf">Política da Segunrança da Informação</a></li>
                        <li><a href="/assets/docs/TermodeUsoOng2020.pdf">Termo de Uso - ONG</a></li>
                        <li><a href="/assets/docs/TermodeUsoAltruista2020.pdf">Termo de Uso - Altruísta</a></li>
                        <li><a href="/assets/docs/TermodeUsoEmpresa2020.pdf">Termo de Uso - Empresa</a></li>
                        <li><a href="/home/faq">FAQ</a></li>
                    </ul>
                    <h4 class="mt-3">Sustentabilidade</h4>
                    <a href="http://www.co2neutralwebsite.com.br" target="_blank"><img src="/assets/img/sustentabilidade.jpg" alt="" class="sustentabilidade__img"></a>
                </div>*@

                @*<div class="col-lg-3 col-md-4 footer-links text-sm-left text-center mb-lg-0 mb-3">
                    <h4>Localização</h4>
                    <p class="p-0 text-white">
                        Rua General Furtado do Nascimento, 740 <br>
                        Alto De Pinheiros. São Paulo/SP<br>
                        <strong class="text-white"><a href="mailto:hello@altruS.com.br">hello@altruS.com.br</a></strong><br><br>
                    </p>*@

                </div>
                <div class="col-lg-3 col-md-4 footer-links mb-lg-0 mb-5 text-sm-left text-center">
                    <h4>Redes Sociais</h4>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/" class="facebook" target="_blank">
                            <i class="bx bxl-facebook"></i>
                        </a>
                        <a href="https://www.linkedin.com/home" class="instagram" target="_blank">
                            <i class="bx bxl-linkedin"></i>
                        </a>
                        <a href="https://www.instagram.com/" class="linkedin" target="_blank">
                            <i class="bx bxl-instagram"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
         @*Sub-footer 
        <section id="sub-footer" class="p-0">
            <div class="container">
                <div class="row d-flex align-items-center py-1">
                    <div class="col-12 py-3 py-lg-4">
                        <div class="copyright my-3 m-sm-0">
                            Altrus&copy; - Todos os direitos reservados
                        </div>
                        <div class="credits">
                            <a href="https://www.leega.com.br/" target="_blank"><span class="leega"></span></a><a href="https://estudio86.com.br/" target="_blank"><span class="e86"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
    </div>
</footer> End Footer 
